<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous" defer></script>
    <script src="/JavaScript/home.js"></script>
    <script> src="/home.js"</script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="header">
        <img id="headerimg" src="/img/1200px-Genshin_Impact_logo.svg.png" alt="">
        <form method="POST" id="logout-link" action="/logout">
          <button type="submit">LogOut</button>
        </form>
    </div>

    <div class="l_conatiner">
        <div class="characters_Mond">
            <h1 id="mondChar">Mondstadt Characters</h1>
            <div id="carouselMond" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/img/Jean.jpg" class="d-block w-100" alt="">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="/img/Amber.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Lisa.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Kaeya.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Barbara.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Diluc.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/img/Razor.jpg" class="d-block w-100" alt="...">
                  </div>    
                  <div class="carousel-item">
                    <img src="/img/Venti.jpg" class="d-block w-100" alt="...">
                  </div>   
                  <div class="carousel-item">
                    <img src="/img/Klee.jpg" class="d-block w-100" alt="...">
                  </div>  
                  <div class="carousel-item">
                    <img src="/img/Bennet.jpg" class="d-block w-100" alt="...">
                  </div>    
                  <div class="carousel-item">
                    <img src="/img/Noelle.jpg" class="d-block w-100" alt="...">
                  </div>   
                  <div class="carousel-item">
                    <img src="/img/Fischl.jpg" class="d-block w-100" alt="...">
                  </div>   
                  <div class="carousel-item">
                    <img src="/img/sucrose.jpg" class="d-block w-100" alt="...">
                  </div>   
                  <div class="carousel-item">
                    <img src="/img/Mona.jpg" class="d-block w-100" alt="...">
                  </div>  
                  <div class="carousel-item">
                    <img src="/img/Diona.jpg" class="d-block w-100" alt="...">
                  </div>    
                  <div class="carousel-item">
                    <img src="/img/Albedo.jpg" class="d-block w-100" alt="...">
                  </div>   
                  <div class="carousel-item">
                    <img src="/img/Rosaria.jpg" class="d-block w-100" alt="...">
                  </div>   
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMond" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMond" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
    
    
            <div class="characters_liyue">
                <div id="carouselLiyue" class="carousel slide" data-bs-ride="carousel">
                    <h1 id="liyueChar">Liyue Characters</h1>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/Xiao.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Beidou.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Ningguang.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Xiangling.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Xingqiu.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Chongyun.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Qiqi.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Keqing.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Tartaglia.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Zhongli.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Xinyan.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Ganyu.jpg" class="d-block w-100" alt="...">
                    </div>   
                    <div class="carousel-item">
                        <img src="/img/Hu-Tao.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/Yanfei.jpg" class="d-block w-100" alt="...">
                    </div>      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLiyue" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselLiyue" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="r_container">
      <div class="check_boxes">
        <div class="form-check">
          <h1 id="To-do-list">To-do list</h1>
          <div id="chec_1">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              Used up all resin
            </label>
          </div>

          <div id="check_2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              4 Daily comissions
            </label>
          </div>

          <div id="check_3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              Weekly bosses
            </label>
          </div>

          <div id="check_4">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              Farm talents/Materials for the day 
            </label>
          </div>

          <div id="check_5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
              Make furniture for your teapot!
            </label>
          </div>
        </div>
      </div>
      <a href="https://www.hoyolab.com/genshin/"><img id="hoyolab" src="https://p.kindpng.com/picc/s/667-6670041_houkai-3rd-wiki-mihoyo-hd-png-download.png" alt=""></a>
    </div>
    
    
</body>
</html>