body {
    margin: 0;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp7487214.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#logga{
    width:369;
    height:132;
}

.left{
    width: 50%;
    display: inline-block;
    height: 100%;
}

#genshin__logo{
    text-align: center;
    margin-top: 20%;
}

#logintxt{
    font-family: "Helvetica";
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 30px;
}

#Login{
    text-align: center;
    width: 369px;
    height: auto;
    padding: 8px 8px 8px 8px;
    box-shadow: -2px 2px 19px rgba(0, 0, 0, 0.4);
    background: #5ccbf8;
    border-color: #000000;
    border-width: 1px;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 20%;
}

#usern{
    width: 350px;
    height: 40px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    color: #c0c0c0;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

#psw{
    width: 350px;
    height: 40px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    color: #c0c0c0;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
   margin-bottom: 5%;
}

#buttonLogin{
    width: 100px;
    padding: 10px 10px 10px 10px;
    background: #b2e9f8;
    color: #232323;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 15px;
    text-align: center;    
}

.right{
    width: 50%;
    display: inline-block;
    height: 100%;
}

.container-register{
    text-align: center;
    width: 369px;
    height: auto;
    padding: 8px 8px 8px 8px;
    box-shadow: -2px 2px 19px rgba(0, 0, 0, 0.4);
    background: #5ccbf8;
    border-color: #000000;
    border-width: 1px;
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#email{
    width: 250px;
    height: 35px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

#email-repeat{
    width: 250px;
    height: 35px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

#reg-user{
    width: 250px;
    height: 35px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

#reg-psw{
    width: 250px;
    height: 35px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

#repeat-reg-psw{
    width: 250px;
    height: 35px;
    padding: 4px 8px 4px 8px;
    background: #c9f1fd;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 20;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-right: 50%;
    margin-left: 16%;
    margin-bottom: 45px;
    
}

#register-btn{
    width: 100px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    background: #b2e9f8;
    color: #232323;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 20px;
}

